:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --scale: 1;

  --tile-size: calc(100px * var(--scale));
  --gap-size: calc(14px * var(--scale));
}


body {
  background-color: #222222;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

main {
  width: calc(var(--tile-size) * 4 + var(--gap-size) * 3);
}

#game-grid {
  position: relative;
  display: grid;
  border-radius: 4px;
  /* width: 500px;
  height: 500px; */
  /* grid-column: 1fr; */
  grid-template-columns: var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size);
  grid-template-rows: var(--tile-size) var(--tile-size) var(--tile-size) var(--tile-size);
  gap: var(--gap-size);
  outline: var(--gap-size) solid #444444;
  background-color: #444444;


  & .game-overlay {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease-out;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }

    position: absolute;
    inset: calc(var(--gap-size) * -1);
    border-radius: calc(4px + var(--gap-size));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  
    & .overlay-title {
      color: white;
      font-size: calc(var(--scale) * 26px);
      margin: 0;
    }

    & .score {
      color: white;
      font-size: calc(var(--scale) * 16px);
    }

    & .buttons {
      display: flex;
      gap: calc(var(--scale) * 12px);
      align-items: center;
    }

    & button {
      padding: calc(var(--scale) * 8px) calc(var(--scale) * 16px);
      font-size: calc(var(--scale) * 20px);
    }
  }

  & .game-over-overlay {
    background-color: rgba(75, 0, 0, 0.3);
  }
  & .game-won-overlay {
    background-color: rgba(0, 75, 0, 0.3);
  }
}

button {
  --animation-duration: 3s;

  position: relative;
  /* height: 40px; */
  border: none;
  outline: none;
  padding: calc(var(--scale) * 10px);
  border-radius: 4px;
  background-color: #444444;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-out;
  cursor: pointer;

  &.red {
    background-color: #ed8486;
  }

  &:hover {
    /* transform: scale(1.03); */
    transform: translateY(-2px);
  }

  .countdown {
    display: none;
    font-size: calc(var(--scale) * 40px);
    font-weight: 500;
  }

  &.hold-progress-animation {
    &::after {
      content: "";
      position: absolute;
      /* inset: 0; */
      height: 100%;
      border-radius: 4px;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.3);
      animation: background-bar-animation var(--animation-duration) linear 0s 1 forwards;
    }
  }
}

@keyframes background-bar-animation {
  0% {width: 0}
  100% {width: 100%}
}

#game-tiles {
  position: absolute;
  inset: 0;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  padding-inline: calc(var(--scale) * 20px);
  /* gap: 100px; */
  margin-bottom: 24px;

  & .score {
    color: white;
    text-align: center; 
    font-size: calc(var(--scale) * 16px * 1.5);

    & .value {
      font-size: calc(var(--scale) * 22px * 1.5);
    }
  }
}

.game-controls {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 40px;

  & button {
    flex-grow: 1;
  }
}

.save-menu {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex-wrap: wrap;

  & hr {
    width: 100%;
    height: 1px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.05);
  }

  & .save-controls {
    display: flex;
    gap: 10px;

    & .save-name-input {
      flex-grow: 1;
      /* height: 0;  */
      padding: calc(var(--scale) * 10px) 10px;
      color: white;
      border-radius: 4px;
      background-color: #444444;
      border: 1px solid #555555;
      max-width: -moz-available;
      width: 100%;
    }

    & button.save-create {
      flex-grow: 1;
      min-width: 60px;
    }
  }

  & .saves-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;

    & .save-placeholder {
      color: #8c8c8c;
      font-size: calc(var(--scale) * 16px);
      text-align: center;
    }

    & .save {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 4px;
      padding: calc(var(--scale) * 14px);
      /* outline: 1px solid rgba(255, 255, 255, 0.05); */
      background-color: #444444;

      & .save-info {
        display: flex;
        flex-direction: column;

        & .detail-save-name {
          font-size: calc(var(--scale) * 16px);
          color: white;
        }

        & .detail-save-score {
          font-size: calc(var(--scale) * 14px);
          color: #8c8c8c;
        }
      }      
    
      & .save-actions {
        display: flex;
        gap: 10px;

        & [control="load-save"] {
          outline: 1px solid white;
        }
      }
    }
  }
}


@keyframes popAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

.pop-animated-element {
  animation: 0.5s popAnimation ease-in-out;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.game-tile {
  position: absolute;
  transition: left 0.15s ease-in-out, top 0.2s ease-in-out;
  animation: 0.5s fadeInOpacity ease-out;
  border-radius: 4px;
  width: var(--tile-size);
  height: var(--tile-size);
  color: white;
  background-color: black;
  padding: 0;
  margin: 0;
  font-size: calc(var(--scale) * 50px);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;


  &[position="1"] {
    top: 0px;
    left: 0px;
  }

  &[position="2"] {
    top: 0px;
    left: calc((var(--tile-size) + var(--gap-size)) * 1);
  }

  &[position="3"] {
    top: 0px;
    left: calc((var(--tile-size) + var(--gap-size)) * 2);
  }

  &[position="4"] {
    top: 0px;
    left: calc((var(--tile-size) + var(--gap-size)) * 3);
  }

  &[position="5"] {
    top: 114px;
    top: calc((var(--tile-size) + var(--gap-size)) * 1);
    left: 0px;
  }

  &[position="6"] {
    top: calc((var(--tile-size) + var(--gap-size)) * 1);
    left: calc((var(--tile-size) + var(--gap-size)) * 1);
  }

  &[position="7"] {
    top: calc((var(--tile-size) + var(--gap-size)) * 1);
    left: calc((var(--tile-size) + var(--gap-size)) * 2);
  }

  &[position="8"] {
    top: calc((var(--tile-size) + var(--gap-size)) * 1);
    left: calc((var(--tile-size) + var(--gap-size)) * 3);
  }

  &[position="9"] {
    top: calc((var(--tile-size) + var(--gap-size)) * 2);
    left: 0px;
  }

  &[position="10"] {
    top: calc((var(--tile-size) + var(--gap-size)) * 2);
    left: calc((var(--tile-size) + var(--gap-size)) * 1);
  }

  &[position="11"] {
    top: calc((var(--tile-size) + var(--gap-size)) * 2);
    left: calc((var(--tile-size) + var(--gap-size)) * 2);
  }

  &[position="12"] {
    top: calc((var(--tile-size) + var(--gap-size)) * 2);
    left: calc((var(--tile-size) + var(--gap-size)) * 3);
  }

  &[position="13"] {
    top: calc((var(--tile-size) + var(--gap-size)) * 3);
    left: 0px;
  }

  &[position="14"] {
    top: calc((var(--tile-size) + var(--gap-size)) * 3);
    left: calc((var(--tile-size) + var(--gap-size)) * 1);
  }

  &[position="15"] {
    top: calc((var(--tile-size) + var(--gap-size)) * 3);
    left: calc((var(--tile-size) + var(--gap-size)) * 2);
  }

  &[position="16"] {
    top: calc((var(--tile-size) + var(--gap-size)) * 3);
    left: calc((var(--tile-size) + var(--gap-size)) * 3);
  }
  &[num="2"] {
    background-color: hsl(217.42 100% 80%);
  }
  &[num="4"] {
    background-color: hsl(4.64 100% 80%);
  }
  &[num="8"] {
    background-color: hsl(44.63 100% 80%);
  }
  &[num="16"] {
    background-color: hsl(136.03 100% 80%);
  }
  &[num="32"] {
    background-color: hsl(330 100% 80%);
  }
  &[num="64"] {
    background-color: hsl(168.78 100% 80%);
  }
  &[num="128"] {
    background-color: hsl(11.52 100% 80%);
  }
  &[num="256"] {
    background-color: hsl(217.85 100% 80%);
  }
  &[num="512"] {
    background-color: hsl(45.86 100% 80%);
  }
  &[num="1024"] {
    background-color: hsl(29.12 100% 80%);
  }
  &[num="2048"] {
    background-color: hsl(31.43 100% 80%);
  }
  &[num="4096"] {
    background-color: hsl(236.5 100% 80%);
  }
  &[num="8192"] {
    background-color: hsl(280.00 100% 80%);
  }
  &[num="16384"] {
    background-color: hsl(250.00 100% 80%);
  }
  &[num="32768"] {
    background-color: hsl(110.00 100% 80%);
  }
  &[num="65536"] {
    background-color: hsl(45.00 100% 80%);
  }
  &[num="131072"] {
    background-color: hsl(10.00 100% 80%);
  }
  &[num="262144"] {
    background-color: hsl(232.00 100% 80%);
  }
  &[num="524288"] {
    background-color: hsl(360.00 100% 80%);
  }
  &[num="1048576"] {
    background-color: hsl(260.00 100% 80%);
  }
  &[num="2097152"] {
    background-color: hsl(225.00 100% 80%);
  }
  &[num="4194304"] {
    background-color: hsl(135.00 100% 80%);
  }
  &[num="8388608"] {
    background-color: hsl(30.00 100% 80%);
  }
  &[num="128"],
  &[num="256"],
  &[num="512"] {
    font-size: calc(var(--scale) * 44px);
  }

  &[num="1024"],
  &[num="2048"],
  &[num="4096"],
  &[num="8192"] {
    font-size: calc(var(--scale) * 36px);
    box-shadow: 0 0 10px -2px gold;
  }
  &[num="16384"],
  &[num="32768"],
  &[num="65536"] {
    font-size: calc(var(--scale) * 30px);
    box-shadow: 0 0 10px -2px whitesmoke;
  }
  &[num="131072"],
  &[num="262144"],
  &[num="524288"] {
    font-size: calc(var(--scale) * 26px);
    box-shadow: 0 0 10px -2px whitesmoke;
  }
  &[num="1048576"],
  &[num="2097152"],
  &[num="4194304"],
  &[num="8388608"] {
    font-size: calc(var(--scale) * 20px);
    box-shadow: 0 0 10px -2px whitesmoke;
  }
}

.game-piece-cell {
  border-radius: 4px;
  background-color: #666666;
}

@media (width < 800px) {
  :root {
    --scale: 0.75;
  }
}

@media (width < 400px) {
  :root {
    --scale: 0.5;
  }
}

@media (width < 250px) {
  :root {
    --scale: 0.35;
  }
}